<div class="bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen min-w-[100vw] overflow-hidden">
    <div class="flex flex-col items-center justify-center">
        <div style="border-radius: 56px; padding: 0.3rem; background: linear-gradient(180deg, var(--primary-color) 100%, rgba(33, 150, 243, 0) 30%)">
            <div class="w-full bg-surface-0 dark:bg-surface-900 py-20 px-8 sm:px-20" style="border-radius: 53px">
                <div class="text-center mb-8">
                    <div class="text-surface-900 dark:text-surface-0 text-3xl font-medium mb-4">¡Bienvenido al Sistema!</div>
                </div>
                <div>
                    <form [formGroup]="objectForm" (ngSubmit)="auth()">
                        <input pInputText id="email" type="text"
                        placeholder="Email address"
                        formControlName="username"
                        class="w-full md:w-[30rem] mb-8"
                        [ngClass]="{'ng-invalid':objectForm.controls['username'].invalid, 'ng-dirty': objectForm.controls['username'].touched}"  />

                    <p-password id="password1"  placeholder="Contraseña"
                    [toggleMask]="true" styleClass="mb-4"
                    [fluid]="true" [feedback]="false"
                    formControlName="password"
                    [ngClass]="{'ng-invalid':objectForm.controls['password'].invalid, 'ng-dirty': objectForm.controls['password'].touched}"
                    ></p-password>

                    <div class="flex items-center justify-between mt-2 mb-8 gap-8">
                        <div class="flex items-center">
                            <p-checkbox  id="rememberme1" binary class="mr-2"></p-checkbox>
                            <label for="rememberme1">Remember me</label>
                        </div>
                    </div>
                    <button pButton pRipple label="Ingresar" class="w-full p-3 text-xl" ></button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

